{% extends "base.html" %}

{% block content %}

<h2 class="mb-4 fw-bold">

❤️ My Wishlist

</h2>

<div class="row">

{% for item in wishlist %}

<div class="col-md-3 mb-4">

<div class="card shadow-sm h-100">

<img
src="{{ item.product.image.url }}"
class="card-img-top product-img">

<div class="card-body">

<h5>{{ item.product.name }}</h5>

<p class="text-success fw-bold">

₹{{ item.product.price }}

</p>

<a
href="{% url 'product_detail' item.product.pk %}"
class="btn btn-dark w-100 mb-2">

View Product

</a>

<a
href="{% url 'remove_from_wishlist' item.pk %}"
class="btn btn-outline-danger w-100">

Remove

</a>

</div>

</div>

</div>

{% empty %}

<div class="alert alert-warning">

Your wishlist is empty.

</div>

{% endfor %}

</div>

{% endblock %}